*
!private/
!public/
!.gitignore


/vendor/
/node_modules/
/public/build/
/public/hot
/storage/*.key
/storage/app/firebase/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/
/bootstrap/cache/
/.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-debug.log
yarn-error.log
/storage/app/firebase/
AGENTS.md
CLAUDE.md

